html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container-principal{
  background-color: rgb(13, 17, 23);
  width: 100%;
  height: 100%;
  gap: 5px;
  display: flex;
  flex-direction: row;
}
.container-lateral{
  background-color: rgb(36, 41, 47);
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: ce;
  gap:5px;
  overflow-y: auto;
  border-left: 1px solid rgba(255, 255, 255, 0.137);
}
.nome-usuario{
  color: aliceblue;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 23px;
}
.nome-redes{
  color: aliceblue;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 25px;
}
.container-curriculo{
  width: 80%;
  height: 98%;
  display: flex;
  flex-flow:row wrap;
  align-content:flex-start;
  gap: 5px;
  padding: 5px;
  overflow-y: auto;
}
.componente-emprego{
  background-color: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 5px;
  transition: width 0.3s ease, height 0.3s ease;
}
.imagem-emprego{
  width: 90px;
  height: 90px;
  transition: width 0.3s ease, height 0.3s ease;
}
.componente-emprego:hover{
  width: 105px;
  height: 105px;
}
.imagem-emprego:hover{
  width: 100px;
  height: 100px;
}
.componente-redes{
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow:row nowrap;
  gap: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.componente-redes:hover{
  background: rgba(240, 248, 255, 0.185);
  cursor: pointer;
}
.container-perfil{
  padding: 10px;
  display: flex;
  flex-direction:column;
}
.imagem-perfil{
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.137);
}
.componente-curriculo{
  background-color: aquamarine;
  width: 100%;
  height: 80%;
}
.container-fechar{
  background-color: rgb(255, 127, 255);
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-fechar {
  width: 20px;
  height: 20px;
  background-color: brown;
  color: aliceblue;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}

.btn-fechar:hover {
  width: 25px;
  height: 25px;
}
.componente-linguagens{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-redes{
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px){
 .container-lateral{
  width: 180px;
}
.nome-redes{
  font-size: 15px;
}
}